body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 185px;
    background-color: #E6EEF4;
}

form h1{
    font-family: sans-serif;
    font-weight: bold;
    color: #8CAFCA;
 
}

.cadastro{
   background-color: #011D33;
   width: 600px;
   height: 700px;
   display: flex;
   flex-direction: column;
   align-content: center;
   justify-content: center;
   align-items: center; 
   border-radius: 30px;
   box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.cadastro img{
    height: 100px;
    width: 100px;
    margin: 0px;
    padding: 0px;
    
}

.cadastro label{
    font-family: sans-serif;
    color: #8CAFCA;
    font-weight: bold;
    
}

.cadastro input{
    border-radius: 20px;
    height: 35px;
    width: 280px;
    font-family: sans-serif;  
}

.cadastro button{
    background-color:#8CAFCA;
    border-color: #8CAFCA;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid; 
    color: #E6EEF4;
    width: 150px;
    height: 40px;
    font-weight: 700;
    transition: 0.5s;
}

.cadastro button:hover{
   background-color:#E6EEF4; 
    border-color: #8CAFCA;
    border-width: 2px;
    color: #8CAFCA;
    font-weight: 700;
    
}

@media screen and (min-width: 400px) and (max-width: 500px) {
    .cadastro {
        background-color: crimson;
        /* Outros estilos podem ser adicionados aqui */
    }
}

