body {
    min-height: 100vh;
    min-width: 100vh;
    background-color: #E6EEF4;
    margin: 0;
    font-family: Arial, sans-serif;
}

header h2 {
    text-align: center;
    margin: 20px 0;
}

main {
    display: flex !important;
    justify-content: space-around;
    padding: 20px;
}

.container-prts {
    background-color: #547FA0;
    overflow-y: scroll;
    height: 500px;
    width: 500px;
    color: #E6EEF4;
    border-radius: 10px;
    box-shadow: 0 4px 8px gray;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-product .card {
    background-color: #E6EEF4;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px gray;
    color: #547FA0;
    display: flex;
    padding: 15px;
    flex-direction: row !important;
    margin: 20px;
}

.container-product .card img {
    border-radius: 10px;
    max-width: 117; 
    height: auto;
    margin-right: 15px; 
}
.card{
    flex-direction: row;
}

.container-product .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.container-product .card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: left; 
}

.container-product .card-text {
    font-size: 1em;
    margin-bottom: 5px;
    text-align: left; 
}


.container-conf {
    background-color: #547FA0;
    height: 211px;
    width: 290px;
    color: #E6EEF4;
    border-radius: 10px;
    box-shadow: 0 4px 8px gray;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
}

.container-conf .order-text h4 {
    text-align: center;
    margin: 10px 0;
    font-size: 1.25em;
    font-weight: 600;
}

.container-conf .btn {
    width: 120%;
    display: flex;
    justify-content: center;
}

.container-conf .btn button {
    width: 75%;
    height: 40px;
    background-color: #8CAFCA;
    border: 2px solid #8CAFCA;
    color: #E6EEF4;
    font-weight: 700;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    border-radius: 5px;
    cursor: pointer;
}

.container-conf .btn button:hover {
    background-color: #E6EEF4;
    border-color: #8CAFCA;
    color: #8CAFCA;
}
