.bg-light{
    background-color: #011D33 !important;
}

.imagem img{
    height: 70px;
    width: 80px;
    margin: 0px;
    margin-right: 15px;
    padding: 0px;
}

.procurar{
    background-color:#8CAFCA;
    border-color: #8CAFCA;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid; 
    color: #E6EEF4;
    width: 100px;
    height: 40px;
    font-weight: 700;
    transition: 0.5s;
}

.procurar:hover{
    background-color:#E6EEF4; 
    border-color: #8CAFCA;
    border-width: 2px;
    color: #8CAFCA;
    font-weight: 700;
    
}

 .nav-link{
    color: #E6EEF4 !important;
}

.form-inline input{
    border-radius: 20px;
    border: none;
}
