body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 185px;
    background-color: #E6EEF4;
}

.logar{
    background-color: #011D33;
   width: 520px;
   height: 400px;
   display: flex;
   flex-direction: column;
   align-items: center;
   align-content: center;
   justify-content: center;
   border-radius: 30px;
   box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

form h1{
    font-family: sans-serif;
    font-weight: bold;
    color: #E6EEF4;
 
}



.logar img{
       height: 100px;
    width: 100px;
    margin: 0px;
    padding: 0px;
    
}

.logar label{
    font-family: sans-serif;
    color: #E6EEF4;
    font-weight: bold;
}

.logar small{
  color: white !important;
}

.logar .form-group1{
    margin-left: 28px;
}

.logar input {
    border-radius: 20px;
    height: 35px;
    width: 280px;
    font-family: sans-serif;
}

.logar button{
    background-color:#8CAFCA;
    border-color: #8CAFCA;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid; 
    color: #E6EEF4;
    width: 150px;
    height: 40px;
    font-weight: 700;
    transition: 0.5s;
}

.logar button:hover{
   background-color:#E6EEF4; 
    border-color: #8CAFCA;
    border-width: 2px;
    color: #8CAFCA;
    font-weight: 700;
}